@using CandyBug.Models
@if (Session["Account"] != null && Session["Account"] != "")
{
    Account account = (Account)Session["Account"];
    <div class="col-sm-6">
        <div class="shopping-item">
            <a href="cart.html">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
        </div>
    </div>
}


