@using CandyBug.Models
@if (Session["Account"] != null && Session["Account"] != "")
{
    Account account = (Account)Session["Account"];
    <div class="col-sm-6">
        <div class="shopping-item">
            <a href=@Url.Action("Index","Cart")>Cart - <span class="cart-amunt">@ViewBag.TongTien VNĐ</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">@ViewBag.TongSL</span></a>
        </div>
    </div>
}


